<h2><a href="<%= "http://#{@link.url}" %>"> <%= @link.title %> </a></h2>

<!-- show current vote count -->

<% if @user_vote.nil? %>

	<form action=<%= link_user_votes_url(@link) %> method="POST">
		<input type="hidden" value="true" name="user_vote[is_up]">
		<input type="submit" value="Up">
	</form>

	<form action=<%= link_user_votes_url(@link) %> method="POST">
		<input type="hidden" value="false" name="user_vote[is_up]">
		<input type="submit" value="Down">
	</form>
<% end %>


<p><%= @link.body %></p>

Posted in:
<ul>
	<% @link.subs.each do |sub| %>
		<li><%= link_to sub.name, sub_url(sub) %></li>
	<% end %>
</ul>

<br>

<form action=<%= link_comments_url(@link) %> method="POST">
	<label for="body">Comment:</label>
	<input type="text" id="body" name="comment[body]">
	<input type="submit" value="Submit Comment">
</form>
<br>


<ul>
<% @comments.each do |comm| %>

	<li><%= render "comments/show", :comment => comm %></li>

<% end %>
</ul>

