<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="title">
		<h1> <%= link_to "Reddit Clone!", "/" %> </h1>
	</div>

	<% if flash.now[:errors]%>
		<div id="errors">
			<% flash.now[:errors].each do |err| %>

				<div id="error"><%= err %></div>

			<% end %>
		</ul>
	<% end %>

	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
